<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>website base</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='style.css') }}">

<style type="text/css">
html,body{
    background-image: url("/static/images/sno.jpg");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
</script>
  </head>
  <body >
<div style="background-image: url("/static/images/sno.jpg")">



    <a class="navbar-brand"  href="{{url_for('convertor')}}"><h1>Home</h1></a>

    </nav>
    <div class="navbar navbar-dark bg-transparent" >
      <h1></h1>
      <h2></h2>
      <style>
      img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


</style>
</head>
<body>
      <img src="../static/images/logo.png" alt="">
    </div>
    <div class='container'>
		<h3>Enter the date</h3>
			<form action = "/background_process">
      <div class="rounded mb-0">
        <input type="date" name="calender" min="2016-01-01" max="2017-04-24" value="{{request.form.calender}}">
      	<a><button class='btn btn-success'>Submit</button></a>
        </form>

        <a class="btn btn-dark" href="{{url_for('indbig')}}">VIZ</a>


      <br><br>
      <pre>
      <p id=result></p>
      </pre
      </div>
    </div>
  </body>
</html>
